<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AMEZ_NewMall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>675E557A20AD2D5100972BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675E559220AD2D5100972BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675E559D20AD2D5100972BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
